.sidebar {
  width: 10rem;
  height: 100vh;
  color: #fafafa;
  padding: 0.5rem;
  overflow-x: auto;
  background: #222222;
}

.sidebar.item:hover {
  color: #ffffff;
  font-weight: bold;
}

.layoutMainContainer {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 1rem;
}

.toolbar {
  color: #fff;
  background-color: #222222;
  padding: 0.5rem 0.5rem 0.5rem 10rem;
}
